.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  padding: 32px 0;
  margin: 0 auto;
}

.site-header__logo {
  display: flex;
  gap: 16px;
  align-items: center;
}


.site-header__nav {
  display: flex;
  gap: 47px;
}

.site-header__link {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  font-family: var(--font-body);
}


.site-header__link--home {
  color: var(--color-heading);
}

.site-header__auth {
  display: flex;
  align-items: center;
  gap: 12px;
}

.site-header__login {
  color: var(--color-text-primary);
  text-decoration: none;
  font-family: var(--font-body);
  padding: 5px 30px;
  border-radius: var(--radius-full);
}

.site-header__signup {
  background-color: var(--color-button);
  color: var(--color-light-border);
  padding: 5px 32px;
  border-radius: var(--radius-full);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-body);
}

@media (max-width: 768px) {
  .site-header__link {
    font-size: var(--font-size-xs);
  }
}

@media (max-width: 680px) {
  .site-header__link {
    display: none;
  }
}
