.hero__container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: var(--padding-section) var(--padding-inline);
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 35px;
}

.hero__left-frame {
  max-width: 412px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px 0;
}

.hero__right-frame {
  position: relative;
  flex: 1;
  min-width: 340px;
}

.hero__right-frame img {
  max-width: 105%;
  height: auto;
  display: block;
  position: relative;
}

.hero__title {
  font-size: var(--font-size-hero);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-body);
}

.hero__title p {
  color: var(--color-accent);
  display: inline;
}

.hero__subtitle {
  font-size: var(--font-size-medium);
  color: var(--color-text-secondary);
}

.hero__badge,
.hero__top-place {
  background-color: var(--color-background);
  color: var(--color-accent);
  max-width: fit-content;
  padding: 7px 32px;
  border-radius: var(--radius-full);
  display: inline-flex;
  align-items: center;
  box-shadow: var(--shadow-sm);
  gap: 10px;
}

.hero__top-place {
  color: var(--color-text-primary);
  border: 1px solid var(--color-light-border);
  position: absolute;
  top: 270px;
  left: 0px;
  transform: translate(640px, 332px);
  z-index: 6;
}

.hero__cta {
  display: flex;
  gap: 24px;
  align-items: center;
}

.hero__button--primary {
  background-color: var(--color-button);
  color: var(--color-light-border);
  padding: 5px 30px;
  border-radius: var(--radius-full);
  text-decoration: none;
}

.hero__button--secondary {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--color-text-primary);
  text-decoration: none;
  padding: 5px 30px;
  border-radius: var(--radius-full);
  border: 1px solid var(--color-light-border);
  background-color: transparent;
}

.hero__photo--santorini,
.hero__photo--mountain,
.hero__photo--city {
  position: absolute;
  max-width: 272px;
  height: auto;
  border-radius: var(--radius-xl);
  overflow: hidden;
  box-shadow: var(--shadow-lg);
  z-index: 2;
  top: 139px;
  left: 91px;
}

.hero__photo--santorini {
  transform: translate(0, 0);
}

.hero__photo--mountain {
  transform: translate(0, 332px);
}

.hero__photo--city {
  transform: translate(304px, 110px);
}

.hero__icon--send,
.hero__icon--add-friend {
  position: absolute;
  z-index: 6;
}

.hero__icon--send {
  top: 75px;
  left: 0px;
  transform: translate(30px, 332px);
}

.hero__icon--add-friend {
  top: 390px;
  left: 0px;
  transform: translate(470px, 332px);
}
