.partner-logos {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 0 var(--padding-inline);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  gap: 60px;
}

.partner-logos__item {  
  width: 14%;
  height: auto;
  flex: 0 0 auto;
}



@media (max-width: 480px) {
  .partner-logos {
    gap: 30px;
  }
  .partner-logos__item {
    width: 100px;
  }
}