.service {
  display: flex;
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: var(--padding-section) var(--padding-inline);
  gap: 64px;
  align-items: center;
}

.service__header {
  max-width: 350px;
}

.service__list {
  display: flex;
  gap: 32px;
}

.service-card {
  max-width: 350px;
  padding: var(--padding-section);
  gap: 64px;
}

.service-card__icon {
  width: 64px;
}

.service-card__content {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.service-card__heading {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-body);
  color: var(--color-heading);
}

.service-card__text {
  max-width: 220px;
}