.destination {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: var(--padding-section) var(--padding-inline);
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.destination__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.destination__label, 
.destination__card-title,
.destination__card-price,
.destination__card-rate {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-body);
}

.destination__label {
  text-transform: uppercase;
  color: var(--color-accent);
  letter-spacing: var(--letter-spacing-small);
}

.destination__row {
  display: flex;
  justify-content: space-between;
}

.destination__title {
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-body);
  color: var(--color-heading);
  line-height: var(--line-height-tight);
}

.destination__controls {
  display: flex;
  gap: 20px;
}

.destination__btn {
  width: 100px;
  height: 100px;
  border-radius: var(--radius-full);
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination__btn--next {
    background-color: var(--color-button);
    box-shadow: var(--shadow-sm);
}

.destination__list-card {
  display: flex;
  gap: 32px;
  width: 100%;
}

.destination__card {
    box-shadow: var(--shadow-sm);
    box-shadow: var(--shadow-right);
    border-radius: var(--radius-xl);
}

.destination__card-content {
    padding: 0 23px;
    display: flex;
    flex-direction: column;
    color: var(--color-heading);
}

.destination__card-price {
    color: var(--color-accent);
}

.destination__card-place {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-body);
    color: var(--color-text-primary);
    font-family: var(--font-body);
}

.destination__card-rate {
    color: var(--color-highlight);
}
.destination__card-rate img {
    width: 24px;
}
