.partner__container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: var(--padding-section) var(--padding-inline);
    display: flex;
    justify-content: space-between;
}
