.subcribe {
  background-color: #FACD4914;
  max-width: var(--max-width-container);
  margin: 64px auto;
  padding: 128px 0;
  border-radius: var(--radius-xl);
  text-align: center;
}

.subcribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
}


.subcribe__email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  flex-direction: row;
    justify-content: center;
}


.subcribe__input-form {
  background-color: var(--color-background);
  border-radius: var(--radius-full);
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 700px;
  
}

.subcribe__email::placeholder {
  color: var(--color-text-primary);          
  font-size: var(--font-size-large);     
  opacity: 1;     
}


.subcribe__img {
  width: 27px;
}

.subcribe__email {
  border: none;
  outline: none;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-body);
}

.subcribe__button {
  background: var(--color-button);
  color: var(--color-background);
  padding: 30px 60px;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-body);
  border-radius: var(--radius-xl);
}

.subcribe__button:hover {
  background: #5b21b6;
}
