<section class="feature">
    <div class="feature__container">
        <div class="feature__left-wrapper">
            <div class="feature__content">
                <span class="feature__label">Key Features</span>
                <h1 class="feature__title">We offer best services</h1>
                <p class="feature__description">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical
                    Latin literature
                    <br>from 45 BC.
                </p>
            </div>
            <div class="feature__cards">
                <div class="feature__card">
                    <img src="../assets/images/feature-location-icon.svg" alt="Location Icon" class="feature__icon" />
                    <div class="feature__card-content">
                        <h2 class="feature__card-title">We offer best services</h2>
                        <p class="feature__description">Lorem Ipsum is not simply random text</p>
                    </div>
                </div>

                <div class="feature__card feature__card--schedule-icon">
                    <img src="../assets/images/feature-schedule-icon.svg" alt="Calendar Icon" class="feature__icon" />
                    <div class="feature__card-content">
                        <h2 class="feature__card-title">Schedule your trip</h2>
                        <p class="feature__description">It has roots in a piece of classical</p>
                    </div>
                </div>

                <div class="feature__card">
                    <img src="../assets/images/feature-discount-icon.svg" alt="Coupon Icon" class="feature__icon" />
                    <div class="feature__card-content">
                        <h2 class="feature__card-title">Get discounted coupons</h2>
                        <p class="feature__description">Lorem Ipsum is not simply random text</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature__right-wrapper">
            <img src="../assets/images/feature-background-Paradise-on-Earth.svg" alt="Paradise on Earth">
        </div>
    </div>
</section>