<div class="hero_container">
    <div class="hero_content">
        <div class="left_frame">
            <div class="hero_badge">
                Explore the world!
                <img src="../assets/img/hero_badge.svg" alt="Explore the world!">
            </div>
            <h1 class="maintitle">Travel <p>top destination</p> of the world</h1>
            <p class="subtitle">We always make our customer happy by providing as many choices as possible </p>
            <div class="cta_btn">
                <a href="#" class="get_started">Get Started</a>
                <a href="#" class="watch_demo">
                    <img src="../assets/img/watch_demo.svg" alt="Watch Demo">
                    Watch Demo</a>
            </div>
        </div>
        <div class="right_frame">
            <div class="hero_bg">
                <img src="../assets/img/hero_bg.svg" alt="flight path">
            </div>

                <div class="photo_1">
                    <img src="../assets/img/Hero_santorini.png" alt="Santorini">
                </div>
                <div class="photo_2">
                    <img src="../assets/img/Hero_moutain.png" alt="A poem for all writters">
                </div>
                <div class="photo_3">
                    <img src="../assets/img/Hero_city.png" alt="City">
                </div>

            <div class="send_icon">
                <img src="../assets/img/hero_send.svg" alt="Send mail">
            </div>
            <div class="tplace">
                <img src="../assets/img/hero_place.svg" alt="Top Places">
                 Top Places
            </div>
            <div class="add_friend">
                <img src="../assets/img/hero_add_friend.svg" alt="Add friend">
            </div>
        </div>
    </div>
</div>