<div class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__left-frame">
                <div class="hero__badge">
                    Explore the world!
                    <img src="../assets/images/hero-badge.svg" alt="Explore the world!">
                </div>
                <h1 class="hero__title">Travel <p class="hero__subtitle-inline">top destination</p> of the world</h1>
                <p class="hero__subtitle">We always make our customer happy by providing <br> as many choices as possible </p>
                <div class="hero__cta">
                    <a href="#" class="hero__button hero__button--primary">Get Started</a>
                    <a href="#" class="hero__button hero__button--secondary">
                        <img src="../assets/images/watch-demo.svg" alt="Watch Demo">
                        Watch Demo</a>
                </div>
            </div>
            <div class="hero__right-frame">
                <div class="hero__background">
                    <img src="../assets/images/hero-bg.svg" alt="flight path">
                </div>

                <div class="hero__photo--santorini">
                    <img src="../assets/images/Hero-santorini.png" alt="Santorini">
                </div>
                <div class="hero__photo--mountain">
                    <img src="../assets/images/Hero-moutain.png" alt="A poem for all writters">
                </div>
                <div class="hero__photo--city">
                    <img src="../assets/images/Hero-city.png" alt="City">
                </div>

                <div class="hero__icon hero__icon--send">
                    <img src="../assets/images/hero-send.svg" alt="Send mail">
                </div>
                <div class="hero__top-place">
                    <img src="../assets/images/hero-place.svg" alt="Top Places">
                    Top Places
                </div>
                <div class="hero__icon hero__icon--add-friend">
                    <img src="../assets/images/hero-add-friend.svg" alt="Add friend">
                </div>
            </div>
        </div>
    </div>
</div>