<div class="service_container">
    <div class="service_content">
        <div class="service_badge">SERVICES</div>
        <p class="main_title">Our top value categories for you</p>
    </div>
    <div class="card_1">
        <img src="../assets/img/destination 1.svg" alt="Destination">
        <div class="card1_container">
            <h1>Best Tour Guide</h1>
            <p class="sub_title">What looked like a small patch of purple grass, above five feet.</p>
        </div>
    </div>

    <div class="card_2">
        <img src="../assets/img/booking 1.svg" alt="Booking">
        <div class="card2_container">
            <h1>Easy Booking</h1>
            <p class="sub_title">Square, was moving across the sand in their direction.</p>
        </div>
    </div>
</div>