<section class="subcribe">
    <div class="subcribe__container">
        <span class="label subcribe__label">subscribe to our newsletter</span>
        <h1 class="title subcribe__title">Prepare yourself & let’s explore the beauty of the world</h1>
        <form action="" class="subcribe__email-form">
            <div class="subcribe__input-form">
                <img src="../assets/images/mail-icon.svg" alt="" class="subcribe__img">
                <input type="email" placeholder="Your Email" class="subcribe__email">
            </div>
            <button type="submit" class="subcribe__button">
                Subscribe
            </button>
        </form>
    </div>
</section>