<section class="subscribe">
    <div class="subscribe__container">
        <span class="label subscribe__label">subscribe to our newsletter</span>
        <h1 class="title subscribe__title">Prepare yourself & let’s explore the beauty of the world</h1>
        <form action="" class="subscribe__email-form">
            <div class="subscribe__input-form">
                <img src="../assets/images/mail-icon.svg" alt="write your email here" class="subscribe__img">
                <input type="email" placeholder="Your Email" class="subscribe__email">
            </div>
            <button type="submit" class="subscribe__button">
                Subscribe
            </button>
        </form>
    </div>
</section>