<section class="testimonial">
    <div class="testimonial__background"></div>
    <div class="testimonial__container">
        <div class="testimonial__controls">
            <button class="slider__btn slider__btn--prev">
                <img src="../assets/images/arrow-left.svg" alt="Previous">
            </button>
        </div>

        <div class="testimonial__inner">
            <span class="testimonial__label">Testimonials</span>
            <h2 class="testimonial__title">Trust our clients</h2>

            <div class="testimonial__card">
                <img src="../assets/images/testinmonial-mark-smith-avatar.svg" alt="travel enthusiast avatar"
                    class="testimonial__avatar" />
            </div>
            <div class="testimonial__info">
                <span class="testimonial__name">Mark Smith</span>
                <span class="testimonial__role"> / Travel Enthusiast</span>
            </div>
            <div class="testimonial__rating">
                <img src="../assets/images/testimonial-five-stars.svg" alt="five stars rating">
            </div>
            <article class="testimonial__text">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots <br>
                in a piece of classical Latin literature from 45 BC.
            </article>
            <div class="testimonial__pagination">
                <div class="testimonial__dot"></div>
                <div class="testimonial__dot testimonial__dot--active"></div>
                <div class="testimonial__dot"></div>
            </div>
        </div>

        <div class="testimonial__controls">
            <button class="slider__btn slider__btn--next">
                <img src="../assets/images/arrow-right.svg" alt="Next">
        </div>
    </div>

</section>