<div class="travel-point">
    <div class="travel-point__container">
        <div class="travel-point__image-wrapper">
            <img src="../assets/images/travel-point-traveller.svg" alt="travel at discounted prices">
        </div>
        <div class="travel-point__content-wrapper">
            <div class="travel-point__content">
                <div class="travel-point__label">TRAVEL POINT</div>
                <div class="travel-point__title">We helping you find your dream location</div>
                <div class="travel-point__subtitle">Contrary to popular belief, Lorem Ipsum is not simply
                    random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
            </div>
            <div class="travel-point__stats">
                <div class="travel-point__stat">
                    <div class="travel-point__value">500+</div>
                    <div class="travel-point__stat-label">Holiday Package</div>
                </div>
                <div class="travel-point__stat">
                    <div class="travel-point__value">100</div>
                    <div class="travel-point__stat-label">Luxury Hotel</div>
                </div>
                <div class="travel-point__stat">
                    <div class="travel-point__value">7</div>
                    <div class="travel-point__stat-label">Premium Airlines</div>
                </div>
                <div class="travel-point__stat">
                    <div class="travel-point__value">2k+</div>
                    <div class="travel-point__stat-label">Happy Customer</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>